/* XS
.container{
    width: 90%;
}
.hello-info{
    width: 100%;
}
.hello-profile{
    width: 100%;
}
.hello-parent-img{
    position: static;
}
.hello-profile{
    margin-left: 0px;
    border: 0px;
} 
.feedback-card{
    width: 90%;
}
.feedback-img,.feedback-info{
    width: 100%;
}
.feedback-img{text-align: center;}
.feedback-img img{
    width: 40%;
}
.feedback .triangel{
    width: 40%;
}
 S 
.hello-profile{
    margin-left: 0px;
    border: 0px;
} 
.feedback-card{
    width: 100%;
}
.feedback-img,.feedback-info{
    width: 100%;
}
.feedback-img{text-align: center;}
.feedback-img img{
    width: 40%;
}
.feedback .triangel{
    width: 40%;
}
mid 
.feedback-card{
    width: 90%;
} */